.product-card{
    width: 300px;
    height: 462px;
    margin: 0px 10px 20px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    border-radius: 10px;   
     
}
@media  all and (max-width: 376px) {
    .product-card{
        width: 168px;
        height: 277px;
    }
    
}
.product-image-container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}
@media  all and (max-width: 376px) {
    .product-image-container{
        width: 168px;
        height: 170px;
    }
    
}
.product-image{
   width: 200px; 
   height: 200px;
}
@media  all and (max-width: 376px) {
    .product-image{
        width: 112px; 
        height: 112px;  
    }
    
}

.product-title-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
@media  all and (max-width: 376px) {
    .product-title-container{
        padding: 5px;
    }
    
}

.product-card-title{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #252020;

}
@media  all and (max-width: 376px) {
    .product-card-title{
        font-size: 10px;
    }
    
}
.price-and-heard-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     
}
.price{
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    color:#252020;
}
@media  all and (max-width: 376px) {
    .price{
        font-size: 14px;
    }
    
}
.heart-icon-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}