.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #FFFFFF;

    max-width: 90% ;
    margin: auto  ;
}
.logo-image{
    width: 40px;
    height: 40px;
}
.logo-head{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 29px;
    color: #252020;
}
.contact-us{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 18px;
    color: #252020;
}
@media screen and (max-width: 376px) {
    .header-container{
        padding: 8px 16px;
        width: 100%;
    }
    .contact-us{
        font-size: 24px;
    }
    .logo-image{
        width: 20px;
        height: 20px;
    }
    .logo-head{
        font-size: 32px;
        
    }
}   