.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    background-color: #100101;

    width: 100% ;
   

}
.signup-contact-us-container{
    margin: auto;
    max-width: 90% ;
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-bottom: 16px;
}
.sigup-container-heading{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 29px;
    color: #FFFFFF;
}
.signup-container-para{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 400px;
}
.subscibe-input{
    padding: 12px 16px;
    border-radius: 2px;
    border: none;
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    margin-right: 20px;
}
.subscribe-btn{
    padding: 12px 24px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}
.contact-us-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.heading{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    color: #FFFFFF;
}
.para{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
}
.us{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    color: #252020;
}
      
.footer-text{
    font-family: 'Simplon Norm';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

@media  screen and (max-width: 376px) {
    .signup-contact-us-container{
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
    .subscibe-input{
        width: 100%;
        margin-right: 0px;
    }
    .subscribe-btn{
        margin-top: 10px;
    }
    
}