
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.discover-our-products-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discover-our-products-heading{
  color: #252020;
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
 
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (max-width: 376px) {
  .discover-our-products-heading{
    font-size: 32px;
    line-height: 38px;
  }
  
}
.discover-our-products-description{
  max-width: 80%;
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 40px;
  
  text-align: center;
  color: #252020;
}
@media screen and (max-width: 376px) {
  .discover-our-products-description{
    font-size: 16px;
    line-height: 28px;
    padding: 0px 10px;
    width: 100%;
  }
  
}


.horizontal-line{
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-features-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
   
}
.toggle-sildebar-container{
  display: flex;
  align-items: center;
}
.toggle-sildebar-mobile-container{
  display: none ;
}
@media screen and (max-width: 376px) {
  .toggle-sildebar-container{
    display: none;
  }
  .toggle-sildebar-mobile-container{
    display: flex ;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
}
.filter-products-size{
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #252020;
  margin-right: 16px;
}
.filter-sidebar-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #252020;
}
.filter-toggle-text{
  margin-left: 8px;
  text-decoration: underline;
}
 .dropdownbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #252020;
 }  
 .sortby-value{
  margin-right: 8px;
 }
 .dropdown-list-item{
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  font-family: 'Simplon Norm';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #252020;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

 }
.tick-mark{
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.dropdown-content-show{
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  right: 80px;
  
}
.dropdown-content-hide{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
} 

.products-and-filters-container{
  max-width: 90%;
  margin: auto;
  display: flex

}
@media screen and (max-width: 376px) {
  .products-and-filters-container{
    flex-direction: column;
    align-items: center;
  }
  
}
 

.products-list-container{
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  